$floating-labels-height: 3.125rem;
$custom-file-height: $floating-labels-height;
$custom-file-height-inner: $custom-file-height;

.laravel-form-components {
  // Fix styling of the custom form input to match
  .custom-file {
    height: $floating-labels-height;
    &-label {
      display: flex;
      align-items: center;
      height: $floating-labels-height;

      &::after {
        display: flex;
        align-items: center;
        height: auto;
      }
    }
  }
}

.form-label-group {
  position: relative;
  flex: 1;

  > .form-control:not(textarea),
  > select,
  > label {
    height: $floating-labels-height;
    padding: .75rem;
  }

  textarea.form-control {
    padding: .75rem;
  }

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: $input-color;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: $input-border-radius;
    transition: all .1s ease-in-out;
  }

  .form-control::placeholder,
   select::placeholder {
    color: transparent;
  }

  .form-control:not(:placeholder-shown),
  select:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }

  .form-control:not(:placeholder-shown) ~ label,
  select:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: $gray-600;
  }
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: $input-color;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: $input-color;
  }
}